<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="OPCServerIP" value="localhost"/>
        <add key="ModbusTCPPort" value="502"/>
        <add key="ModbusMode" value="RTU"/>
        <add key="SerialPort" value="COM1"/>
        <add key="BaudRate" value="9600"/>
        <add key="UpdateRate" value="1000"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>